*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #333;
	color: #333;
	font-family: Arial, Helvetica, Verdana, sans-serif;
}

section#secion{
	background-color: white;
	max-width: 600px;
	max-height: 400px;
	margin: 150px auto 0px auto;
	border-radius: 10px 10px 0px 0px;
	padding: 10px;
	animation: 2s aparec linear;
}

section h1{
	font-size: 2em;
	color: #93A7B7;
	text-shadow: 2px 2px 1px #284A67;
	margin-bottom: 20px;
	margin-top: 15px;
	text-align: center;
}

section h1#msg{
	font-size: 1.6em;
	text-shadow: none;
	background-color: #93A7B7;
	color: white;
	border-radius: 10px;
	margin-bottom: 5px;
	text-shadow: 0px 0px 4px #3E5B74;
}

section input{
	display: block;
	font-size: 1em;
	font-weight: bold;
	border: none;
	padding: 5px;
	background-color: #CCD6DE;
	color: #3E5B74;
	width: 200px;
	text-align: center;
	border: 3px solid #3E5B74;
	border-radius: 4px;
	margin: auto;
}

section input#buti{
	width: 100px;
	border-color: #5E5E5E;
	color: #5E5E5E;
	background-color: #DADADA;
}

section input#buti:hover{
	background-color: white;
	color: #9A9A9A;
	border-color: #9A9A9A;
}

section input#buti:active{
	border-color: #555;
	color: #555;
	background-color: #AAA;
	width: 100px;
}

div#rodape{
	font-weight: bold;
	font-size: 1em;
	text-align: center;
	background-color: #777;
	padding: 10px 30px;
	max-width: 560px;
	margin: 0px auto 0px auto;
	border-radius: 0px 0px 10px 10px;
	animation: 2s aparec linear;
}

div#rodape a{
	text-decoration: none;
	color: #333;
}

div#rodape a:hover{
	text-decoration: underline;
}

@keyframes aparec{
	from{opacity: 0%;}to{opacity: 100%;}
}